/*MENU*/
.wrapper {
    position: relative;
    width: 100vw;
    min-width: 720px;
    height: 100vh;
    min-height: 620px;
    background-color: #191c32;
    color: #fff;
}

.navbar {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    padding: 1.5em;
}

.brand h2{
   font-size: 40px;
}
.brand span {
    color: #00ffff;
}

#navigation{
    display: block;
    width: 90%;
}
.bar{
    display: none;
}
.menu {
    padding-top: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    justify-content: end;
}

.menu li {
    display: block;
    width: 200px;
    margin: 0;
    padding: 0;
    font-size: 2em;
}
.menu a {
    padding: 10px 10px;
    color: #fff;
    text-decoration: none;
}
.menu .active {
    color: #00ffff;
}
.menu a:hover{
    background-color: #00ffff;
    color: #191c32;
    border-radius: 3px;
    transition: ease-in .4s;
}
/*Wrapper*/
.main {
    margin: 0 auto;
    width: 80vw;
    height: 80vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 20px;
}

.info-content{
    margin-bottom: 30px;
    text-align: start;
}
.main span {
    color: #00ffff;
}
.main p{
    padding: 0;
}
.main img {
    margin-top: 50px;
    display: block;
    width: 400px;
    height: 500px;
    border: 7px solid #00ffff;
    border-radius: 5px;
}
.main img:hover {
    border: 7px solid #fff;
    transition: ease-in .5s;
}


/*ABOUT/ME*/
.about {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 100vw;
    height: 100vh;
    min-height: 620px;
    align-items: center;
}

.about-info {
    width: 100%;
    height: 100%;
    padding: 2em;
}

.about-info a{
    text-decoration: none;
}

.about p {
    margin-bottom: 1em;
    font-size: 1.3em;
    font-weight: 700;
}

.about img {
    width: 100%;
    height: 100vh;
    min-height: 620px;
}

/*PORTFOLIO*/
.portfolio {
    width: 100vw;
    height: 100vh;
    min-height: 620px;
}
.container {
    width: 80%;
    height: 50vh;
    margin: 50px auto 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
}
.card {
    width: 300px;
    min-width: 280px;
    height: 300px;
    min-height: 280px;
    margin: 5px;
}
.card-img{
    height: 150px;
}
.btn-portfolio{
    width: 40%;
    margin: 15px 30%;
}

/*Contact*/
.contact {
    width: 100vw;
    min-width: 620px;
    height: 100vh;
    min-height: 620px;
    overflow: hidden;
}

.contact-headings {
    font-weight: 1200;
    padding: 30px 50px;
}

.container-contact{
    width: 700px;
    min-width: 500px;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 30px;
    border: 5px solid #2b3058;
}
.form textarea {
    height: 130px;
}



